<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="conteiner">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('includes/messages') %>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Fernando</td>
            <td>Gutemberg</td>
            <td>61993523232</td>
            <td>fernandosilva@sounidesc.com.br</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>


    